$color-pink:#F7ADBD;
$color-pink-light:#FFF3F5;
$color-pink-dark: #DD5D79;

.color-primary-0 { color: #F7ADBD }	/* OK */
.color-primary-1 { color: #FFF3F5 } /* OK */
.color-primary-2 { color: #FCD2DB }
.color-primary-3 { color: #F1879E }
.color-primary-4 { color: #DD5D79 } 


$color-gold: #A49050;
.color-primary-gold-0 { color: #A49050 }	/* Main Primary color */
.color-primary-gold-1 { color: #EFE1B4 }
.color-primary-gold-2 { color: #C5B378 }
.color-primary-gold-3 { color: #867131 }
.color-primary-gold-4 { color: #655216 }